
services:
###> doctrine/doctrine-bundle ###
  database:
    image: postgres:16-alpine
    container_name: symfony_postgres
    environment:
      POSTGRES_DB: order_system_db
      # You should definitely change the password in production
      POSTGRES_PASSWORD: pass
      POSTGRES_USER: user
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_php
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html:cached
    depends_on:
      - database
    environment:
      MAILER_DSN: smtp://mailhog:8025


  nginx:
      image: nginx:latest
      container_name: symfony_nginx
      ports:
        - "8080:80"
      volumes:
        - ./:/var/www/html:ro
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      depends_on:
        - php

  mailhog:
      image: mailhog/mailhog
      platform: linux/amd64
      container_name: symfony_mailhog
      ports:
        - "8025:8025"

  messenger_worker:
      build:
        context: .
        dockerfile: Dockerfile
      command: php bin/console messenger:consume async -vv
      volumes:
        - ./:/var/www/html
      depends_on:
        - php
        - database
      environment:
        - MESSENGER_TRANSPORT_DSN=doctrine://default?queue_name=async
volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
